*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 3px double grey;
    padding:10px 30px 30px;
    margin:30px;
    background-image: linear-gradient(purple,whitesmoke);
    
}
h1{
    text-align: center;
    background-color:rgb(6, 35, 97);
    color: whitesmoke;
    padding: 5px;
}
h3{
    margin-top: 10px;
    background-color: beige;
    text-align: center;
    margin-bottom: 20px;
    padding: 2px;
}
img{
    width:30%;
    height:30%;
    margin:5px;
    border-radius: 50%;
    float: left; 
    margin-right: 5%;
      
}

.format{
    margin-bottom: 30px;
    
}
.button{
    text-align: center;
    padding: 5px;
}
.border{
    border: 3px double black;
    padding: 30px;
    margin: 10px;
}